Source: com.github.cjfloss.envelope
Section: x11
Priority: optional
Maintainer: Cleiton Floss <cleitonfloss@gmail.com>
Build-Depends: meson,
               ninja,
               valac (>= 0.26.1),
               libgtk-3-dev (>= 3.14.0),
               libgee-0.8-dev,
               libgranite-dev (>= 0.3.0),
               libsqlite3-dev
               debhelper (>= 8.0.0),

Standards-Version: 4.1.1
Package: com.github.cjfloss.envelope
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Personal budget manager.
