Source: com.github.cjfloss.envelope
Section: x11
Priority: extra
Maintainer: Cleiton Floss <cleitonfloss@gmail.com>
Build-Depends: meson,
               debhelper (>= 8.0.0),
               valac (>= 0.26.1),
               libgranite-dev (>= 0.3.0),
               libgtk-3-dev (>= 3.12.0),
               libgee-0.8-dev,
               libsqlheavy-dev (>= 0.1.1-2)

Standards-Version: 3.9.3
Package: com.github.cjfloss.envelope
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Personal budget manager for elementary OS.
