[Desktop Entry]
Type=Application
Name=Envelope
Comment=Manage your budget
Keywords=budget;money;account;transaction;bank;
GenericName=Personal budget manager
Exec=envelope
Icon=accessories-calculator
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
X-GNOME-Gettext-Domain=envelope
X-GNOME-UsesNotifications=true;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=envelope --about
Name=About Envelope
